# Casper node RPC endpoints
CASPER_NODE_URL=https://rpc.testnet.casperlabs.io
CASPER_CHAIN_NAME=casper-test

# CSPR.cloud API (sign up at https://cspr.cloud)
CSPR_CLOUD_API_KEY=your_api_key_here

# Your account hash (output of: casper-client account-address --public-key ./keys/public_key_hex)
CASPER_ACCOUNT_HASH=account-hash-xxxx
